# Node/JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
dist/
build/
coverage/
.eslintcache

# Env & secrets
.env
.env.*

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# App specific
exports/
*.xlsx
*.xls
*.csv

# Logs & runtime
logs/
*.log
*.pid
tmp/
